header {
  z-index: 1000;
}
.active-position {
  top: 0;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: rgb(10, 105, 0);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#52e259, #43a548);
  border-radius: 20px;
}
<<<<<<< HEAD
img {
  cursor: pointer;
}
a {
  cursor: pointer;
}
button {
  cursor: pointer;
}
=======
>>>>>>> b0dc5a9c7d11316551149f9af5b278b052ec579b
.card_first {
  position: sticky;
  z-index: 0;
  animation: card 1s infinite alternate;
}
.scrol::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrol::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.467);
}
.scrol::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.281);
}
@keyframes card {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.swiper {
  width: 500px;
  height: 300px;
}
