.active-position {
  top: 0;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: rgb(10, 105, 0);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#52e259, #43a548);
  border-radius: 20px;
}
.card_first {
  animation: card 1s infinite alternate;
}
@keyframes card {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.swiper {
  width: 460px;
  height: 300px;
}
